.grid__block--datetime-entry {
    grid-area: form;
}

.grid__block__form {
    display: flex;  
    height: 36px;
    margin: 37px 16px;    
}

.grid__block__form__picker {
    width: 260px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000059;
    border: 1px solid #C8D6D9;
}

input[type="datetime-local" i] {
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    padding-left: 10px;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1
}

.grid__block__form__button {
    width: 140px;
    margin: 0px 0px 0px 20px;
    background: #FA6200 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #00000059;
    border: 1px solid #FA6200;
    opacity: 1;
}
