.grid__header {
    grid-area: header;
    background: #000000 0% 0% no-repeat padding-box;
    display: flex;
}

.grid__header__title {
    flex: auto;
    margin: auto 30px;
}

.grid__header__sticker svg {
    width: 80px;
}