* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

body {
    background: #4A4A4A 0% 0% no-repeat padding-box;
    align-content: center;
}

.grid {
    display: grid;
    justify-content: center;
    margin: 40px auto 0px;
    width: 1280px;
    height: 800px;
    grid-template-columns: 300px 900px;
    grid-template-rows: 100px 174px 246px;
    grid-template-areas: 
        "header header header"
        "side form form"
        "side results results";
}

.grid__block {
    background: #272727 0% 0% no-repeat padding-box;
    margin: 10px 5px 0px;
}

.grid__block h2 {
    background: #000000 0% 0% no-repeat padding-box;
    margin: auto;
    padding: 11px 16px 10px;
}